<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>773877178913-c50ltijgrg3373rrr45spuv2sjssst40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773877178913-c50ltijgrg3373rrr45spuv2sjssst40</string>
	<key>API_KEY</key>
	<string>AIzaSyA2nMPdzuU9I0LAQSczdKxIAcP63e7hpx4</string>
	<key>GCM_SENDER_ID</key>
	<string>773877178913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>testchatapp</string>
	<key>PROJECT_ID</key>
	<string>testchatapp-7d6d5</string>
	<key>STORAGE_BUCKET</key>
	<string>testchatapp-7d6d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:773877178913:ios:25cc3ebef2bc2d52</string>
	<key>DATABASE_URL</key>
	<string>https://testchatapp-7d6d5.firebaseio.com</string>
</dict>
</plist>